/* Other Styling Started*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #49b8eb;
}
/* Other Styling Ended */

/* Time Styling Started  */
h1 , h2{
    color: #000000;
    padding: 2rem;
    text-align: center;
    font-size: 8rem;
}
.container{
    width: 50%;
    display: flex;
    margin-left: 300px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10rem;
}
/* Time Styling Ended  */

/* Button Styling Started  */
.start , .stop , .reset{
    font-size: 2rem;
    padding: 0.6rem;
    width: 8rem;
    margin-left: 1rem;
    border-radius: 30px;
}
.start{
    border: 0px;
    background-color: #1eff00;
    color: #ffff;
}
.stop{
    border: 0px;
    background-color: #ff0000;
    color: #ffff;
}
.reset{
    border: 0px;
    background-color: #ffd000;
    color: #ffff;
}
.buttons{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
/* Button Styling Ended  */
@media(max-width: 807px){
    html{
        font-size: 80%;
    }
}
@media(max-width: 581px){
    html{
        font-size: 65%;
    }
}
@media(max-width: 461px){
    html{
        font-size: 50%;
    }
}
@media(max-width: 360px){
    html{
        font-size: 35%;
    }
}
@media(max-width: 300px){
    html{
        font-size: 25%;
    }
}
@media(max-width: 171px){
    html{
        font-size: 20%;
    }
}
@media(max-width: 141px){
    html{
        font-size: 10%;
    }
}